<h1>New product</h1>

<%= form_for(:product, :url => {:action => 'create'}) do |f| %>
	<%= render(:partial => "form" , :locals => {:f => f}) %>

	<div class="form-buttons">
      <%= submit_tag("Create Subject") %>
    </div>
<% end %>

<%= link_to 'Back', products_path %>
