<p id="notice"><%= notice %></p>
<h2>Product#show</h2>
<%= @product.ad_title %><br/>
<%= link_to("Edit Ad", {:controller =>'Products' ,:action => 'edit', :id => @product.id}, :class => "post edit") %>




